@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}
*{
  font-family: 'Readex Pro', sans-serif;
}

.primary-title{
  font-size: 90px;
  color: rgb(17, 150, 94);
}
.primary-button{
  color: azure;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, #fe3072, #ff5940);
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
}
.primary-button:hover{
  background: linear-gradient(260deg, #fe3072, #ff5940);
}

/*----- Navvar ----*/
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .logo-container{
   width: 170px;
   margin: 15px;
}
nav .logo-container .logo{
  width: 100%;
}
nav .nav-button{
  color: #fff;
  background: rgb(4, 91, 78);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}
nav .nav-button:disabled{
  background-color: #731608;
  color: #fff;
}
/*---homepage----*/
.overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  
  
}
.overlay::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url('images/silhouette-pack-avatars_23-2147675548.webp') 0 0 repeat;
  transform: rotate(30deg);
}

h2{
  font-style: italic;
  font-weight: 600;
}

.auth-modal{
  position: absolute;
  background-color: #fff;
  padding: 40px;
  top: 40px;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
.auth-modal .close-icon{
  float: right;
  border: 1px solid grey;
  border-radius: 100%;
  padding: 4px 8px;
}
.secondary-button{
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 30px;
  margin: 6px;
  border-radius: 30px;
}
.auth-modal form{
  display: flex;
  flex-direction: column;
}
.auth-modal input[type=email],
.auth-modal input[type=password]
{
   margin: 8px;
   padding: 8px;
   font-size: 17px;
}
/*---0nboarding page----*/
.onboarding{
  border: 2px solid rgb(237, 235, 235);
}
.onboarding form{
  display: flex;
  justify-content: center;
}

.onboarding form section{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}
.onboarding form input{
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: 2px solid rgb(157, 214, 215);
  border-radius: 10px;
}
.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.onboarding form label{
  margin: 10px 0;
}
.onboarding form .multiple-input-container{
  display: flex;
  flex-direction: row;
}
.onboarding form .multiple-input-container input{
  margin-right: 10px;
}
.onboarding form .multiple-input-container label{
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(157, 214, 215);
  transition: all 0.3s;
  margin-right: 10px;
}
.onboarding form input[type="radio"]{
  display: none;
}
.onboarding form input[type="number"]{
  width: 10%;
}
.onboarding form input[type="checkbox"]{
  width: 5%;
}
.onboarding form  input[type="radio"]:checked + label{
  border: 2px solid orange;
}
.onboarding form input[type="submit"]:hover{
  background-color: #fe3072;
}
.onboarding form input[type="submit"]:active{
  background-color: #6c0c2b;
}
.profile-photo img{
  width: 100%;
}
/*-------- Dashboard  --------*/
.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard .swipe-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.swipe {
  position: absolute;
}

.dashboard .card-container {
  width: 400px;
  height: 650px;
}

.card {
  width: 400px;
  height: 650px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  margin-top: 0;
}

.dashboard .swipe-info {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

/*-------- Chat Container --------*/
.chat-container {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 30%;
  text-align: left;
  z-index: 1;
}

.chat-container .chat-container-header {
  background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-container .option {
  border: none;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 4px rgb(243, 33, 33);
  font-size: 20px;
  margin: 2px;
  padding: 10px;
}

.chat-container .option:disabled {
  border-bottom: solid 4px rgb(187, 187, 187);
}

.chat-container .profile,
.chat-container .log-out-icon {
  display: flex;
  align-items: center;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.img-container {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
}

.img-container img {
  width: 100%;
}

/*-------- Chat Display --------*/
.chat-display,
.matches-display {
  padding: 20px;
  height: 60vh;
  overflow-y: auto;
}

/*-------- Chat Input --------*/
.chat-input {
  padding: 20px;
  display: flex;
  flex-direction: column;
}



































